.team-image{
    
        border-radius: 50%;
    height: 155px;
    width: 155px;
    
    
}

.wrapper style2{
    background-color: #1F2428;
}

.member{
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}