.team-image{
    
        border-radius: 50%;
    height: 155px;
    width: 155px;
    
    
    
}
.team-image:hover
{
   border-radius: 50%;
    height: 155px;
    width: 155px;
    
    transform: scale(0.9);
    


}

.developer-image{
    
        border-radius: 50%;
    height: 30px;
    width: 30px;
    
    
}

.wrapper style2{
    background-color: #1F2428;
}

.member{
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.member-name{
    color: aliceblue;
     font-weight: bold;
}

.member-position{
     color: aliceblue;
    font-style: oblique;
    
}

.developer{
    margin: 10px;
    align-content: center;
    
    
}
 

#ch{
    
    margin: 10px;
    align-content: center;
}