.team-image{
    
        border-radius: 50%;
    height: 155px;
    width: 155px;
}
.team-image:hover
{
   border-radius: 50%;
    height: 155px;
    width: 155px;
    
    transform: scale(0.9);
    


}

.developer-image{
    
        border-radius: 50%;
    height: 30px;
    width: 30px;
    
    
}

.wrapper.style2 {
    background: #192024;
    color: #c5c7c8;
}

header.major {
    text-align: center;
    margin: 0 0 4em 0;
}

.container {
    max-width: none!important;
    min-width: 0!important;
    width: 90%!important;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: -2.5em!important;
}

.row:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.member{
  width: 250px;
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#footer {
    padding: 4em 0;
}git 
.member-name{
    color: aliceblue;
     font-weight: bold;
}

.member-position{
     color: aliceblue;
    font-style: oblique;
    
}

.developer{
    margin: 10px;
    align-content: center;
    
    
}
 

#ch{
    
    margin: 10px;
    align-content: center;
}